.streams__video {
  position: relative;
  margin-top: 48px;
}

.streams__video::after {
  display: block;
  content: '';
  padding-bottom: 56.25%;
}

.streams__video iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}