.tabs__list {
  display: flex;
  flex-wrap: wrap;
  margin: -8px -8px;
}

.tabs__list > * {
  margin: 8px 8px;
}

.tabs__list_button {
  padding: 16px 34px;
  background: none;
  border: none;
  border-radius: 8px;
  font-size: 22px;
  line-height: 26px;
}

.tabs__list_button--selected {
  background: #C7D2E9;
}

.tabs__panel {
  display: flex;
  flex-wrap: wrap;
  margin: -32px -24px;
  padding-top: 48px;
}

.tabs__panel > * {
  margin: 32px 24px;
}

.tabs__panel--hidden {
  display: none;
}